%div{style: "display: flex;justify-content: center;width: 100vw;height: 60vh; align-items:center;"}
  %span.is-size-1.is-hidden-tablet
    outsinya
  %span.is-hidden-mobile{style: 'font-size: 5rem;'}
    outsinya

%div{style: 'font-size:12px; margin:10px 30px; text-align:center;'}
  言葉を登録することでSNSでの人との繋がりを考えるきっかけを作るお手伝いをする。
  %br
  アウトサイニャーはそのために生まれたサービスです。

-# 使い方
.mb-5{style: 'margin-left: 10vw;margin-right: 10vw; margin-bottom:15px;'}
  %div{style: 'margin-top: 30vh;'}
    %div
      .my-6.has-text-weight-bold.is-size-4
        アウトサイニャーのはじめ方
  .tile.is-ancestor
    .tile.is-parent
      %article.tile.is-child.box
        %p.subtitle.is-size-6 1. お持ちのTwitterアカウントを通じて会員登録しましょう
        .content.has-text-centered
          = image_tag 'step_1.png'
    .tile.is-parent
      %article.tile.is-child.box
        %p.subtitle.is-size-6 2. 「嬉しい言葉」と「苦手な言葉」をアウトサイニャーに教えてください。
        .content.has-text-centered.pt-4
          = image_tag 'step_2.png'
    .tile.is-parent
      %article.tile.is-child.box
        %p.subtitle.is-size-6 3. アウトサイニャーが毎日のあなたへのSNS上の言葉を可視化します
        .content.has-text-centered.pt-4
          = image_tag 'step_3.png'
- unless current_user
  = link_to '/auth/twitter', class: 'button is-medium has-text-white has-text-weight-bold has-text-centered mb-1',
    style: 'background: #1DA1F2; margin: 0 auto; display: flex; width: 300px; padding:15px;' do
    - url = asset_path('twitter.png')
    %span{style: "background: url(#{url}) no-repeat; background-size: 40px 40px; width: 40px; height:40px; margin-left: -10px;"}
    Twitterアカウントで登録
  = link_to '/auth/twitter', class: 'has-text-grey-dark button is-text has-text-centered is-small',
    style: 'margin: 0 auto; display: flex; width: 200px' do
    %p
      既に登録済みの方はこちらからログイン


-# よくある質問
.mb-6.pb-6{style: 'margin-left: 10vw;margin-right: 10vw; margin-bottom:15px;'}
  %div{style: 'margin-top: 10vh;'}
    %div
      .my-6.has-text-weight-bold.is-size-4
        よくある質問
  .mb-5
    .my-4.is-size-5.has-text-weight-bold
      このサービスは何ですか？
    .my-2.is-size-6
      会員登録したユーザの方が登録した「嬉しい言葉」「嫌な言葉」が、ユーザの方に向けてどのくらいTwitter上で発言されているかを数値として保存し、状態を可視化することのできるサービスです。
      %br
      昨今のSNS上で問題になっている「心ない言葉を発してしまう」が実際にどうなのかを少し客観的な視点から数値として見つめることで、視野を広げるきっかけになればと作成しました。
      %br
      利用規約は
      = link_to 'こちら', page_path('terms'), target: '_blank'
      プライバシーポリシーは
      = link_to 'こちら', page_path('privacy'), target: '_blank'
      です。
  .mb-5
    .my-4.is-size-5.has-text-weight-bold
      Twitter認証を使用した会員登録とはなんですか？
    .my-2.is-size-6
      本サービスではサービスを利用する皆さんのメールアドレスもパスワードも保存しません。
      %br
      その変わりに、サービス利用者の方にTwitterのログイン情報をご入力いただき、認証することでサービスをご利用いただけるようになります。
      %br
      その際、サービス利用者のTwitterのログイン情報をサービスが取得し保存することはございませんのでご安心してご利用ください。
  .mb-5
    .my-4.is-size-5.has-text-weight-bold
      Twitter認証でアプリ連携するときに表示される「このアプリケーションは次のことができます」の用途を教えてください。
    .my-2.is-size-6
      %ul.mb-6
        %li.mb-4
          %blockquote.mb-3
            ・このアカウントのタイムラインに表示されるツイート（非公開ツイートを含む）や、リストとコレクションを確認する。
          .ml-2
            本サービスではこの機能は利用しません。
            タイムラインのツイートを取得することはなく、検索結果に表示される結果を取得しています。
            %br
            何度ユーザあてに発行されたツイートのうち、ご登録いただいた「好きな言葉」「嫌いな言葉」が含まれているかカウントを行い"回数"を保存しますが、
            取得したツイート自体を本サービスが保存するということはございませんので、ご安心ください。
        %li.mb-4
          %blockquote.mb-3
            ・このアカウントでプロフィール情報とアカウントの設定を確認する。
          .ml-2
            本サービスにログインしている時のユーザ名の表示に使用します。
            %br
            また、Twitter上での投稿のうち、ユーザ名あての書き込み内容の取得のために使用します。
        %li.mb-4
          %blockquote.mb-3
            ・フォロー、ミュート、ブロックしているアカウントを確認する。
          .ml-2
            本サービスではこの機能は利用しません。
      %div
        アプリ連携の画面で記載されていないことは、アプリ連携されていたとしてもデータの取得や操作を本サービスが行うことは出来ません。
        %br
        ダイレクトメッセージの閲覧や送信も、この本サービスご利用時に必要になる上記の権限では利用出来ません。
        %br
        サービスご利用にあたり、Twitterのアプリ連携に関しては上記内容をご確認のうえ、ご利用ください。
  .mb-5
    .my-4.is-size-5.has-text-weight-bold
      サービスを利用するのは無料ですか？
    .my-2.is-size-6
      はい。
      %br
      無料でご利用いただけます。
      %br
      ただし、サイトを閲覧するためのネット接続環境はサービス利用者の方にご用意いただく必要がございます。

.has-text-centered
  = image_tag 'before_home_footer.png'
