%nav.navbar{"aria-label" => "main navigation", :role => "navigation", style: 'border-bottom: #eded 1px solid;'}
  .navbar-brand
    = link_to root_path, class: 'navbar-item' do
      = image_tag 'outsinya_site_logo.png', width: "80", height: "80", style:'max-height: initial'
  #navbarBasicExample.navbar-menu
    .navbar-end
      .navbar-item
        - if @current_user.present?
          .buttons
            = link_to 'ログアウト', logout_path, class: 'button is-light'
            = link_to '単語の追加', '', class: 'button is-brand_primary_color has-text-white'
        - else
          .buttons
            = link_to 'ログイン', '/auth/twitter', class: 'button is-light'
            = link_to '新規登録', '/auth/twitter', class: 'button is-brand_primary_color has-text-white'
