<!DOCTYPE html>
<html>
  <head>
    <title>Outsinya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body style="margin: 0;display: flex;flex-flow: column;min-height: 100vh;border:none;">
    <%= render 'layouts/header' %>
    <div class="main" style="flex: 1; padding-top: 100px;">
      <%= render 'flash' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
